@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Ubuntu&display=swap');

body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

ul {
    padding: 0;
}

/* li {
    list-style-type: none;
} */

p {
    font-size: 0.85em;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
}

h3 {
    margin: 0 0 10px 5px;
}

h4 {
    margin: 0;
}

* {
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
}

.info__tag {
    cursor: pointer;
}

#closeButton {
    cursor: pointer;
}

.product__heading {
    cursor: pointer;
}

header {
    margin: 10px 0;
}

p {
    text-align: center;
}

.header_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo__image {
    max-width: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    margin-right: 15px;
}

.info__tag {
    background-color: white;
    border: none;
    min-width: 120px;
}

.sidemenu {
    display: none;
    position:fixed;
    background-color: aliceblue;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sidemenu__close {
    max-width: 45px;
}

#closeButton {
    background-color: aliceblue;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.sidemenu__list {
    margin: 50px 50px;
}

.sidemenu__list li {
    margin: 10px 0;
    font-size: large;
}

.sidemenu__item a{
    color:black;
}

.sidemenu__item a:active{
    color: red;
}

.preview__wrapper {
    display: flex;
    justify-content: center;
}

.preview {
    max-width: 80%;
    margin: 10px 0;
    border-radius: 10px;
}

.main__wrapper {
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.products__description img{
    max-width: 80%;
    margin: 10px 0;
    border-radius: 10px;
}

.products {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.product {
    margin: 5px 0;
    background: rgba(219, 219, 219, 0.5);
}

.product__heading {
    padding: 5px;
    margin: 5px 0;
}

.product__item {
    display: flex;
    flex-direction: column;
}

.product__image {
    max-width: 80%;
    margin: 5px 0;
    align-self: center;
    border-radius: 10px;
}

.product__button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    max-width: fit-content;
    min-height: 30px;
    align-self: center;
    margin-bottom: 13px;
    border-radius: 10px;
}

.event {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 1);
    color:rgb(255, 255, 255)
}

.event__heading {
    line-height: 1.5;
    text-align: center;
}

.advantages__list {
    line-height: 1;
}

.advantages__list .advantages__item {
    list-style-type: disc;
}

.reviews__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.reviews__item p {
    text-align: start;
    margin: 0 10px;
}

.reviews__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}

.reviews__item img {
    max-width: 70px;
    max-height: 100%;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.feedback {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_button {
    margin: 10px 0;
    max-width: fit-content;
    height: 45px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

.input__wrapper {
    display: flex;
}

.feedback__input {
    margin: 0 5px;
}

.feedback__input--name {
    max-width: 45%;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.feedback__input--phone {
    max-width: 45%;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.contacts {
    margin: 10px 0;
}

.contact__link {
    color:black;
    padding: 10px;
}

.contact__link:active {
    background-color: aliceblue;
    border-radius: 5px;
}

.useful_links {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}

.useful_links a {
    color: rgb(255, 255, 255);
}

.links__wrapper {
    font-size: 0.8em;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 1000px) {
    * {
        font-size: 1.05em;
    }    

    .hidden {
        display: none;
    }    

    .contact__link {
        color:black;
        padding: 10px;
    }

    .contact__link:hover {
        background-color: aliceblue;
        border-radius: 5px;
    }
}
/* more than 1000px */

@media (min-width: 1000px) {
    *:not(h3){
        font-size: 1.05em;
    }

    .logo__image {
        max-width: 100px;
    }
}